html,
body {
    font-size: 20px;
    background-color : darkslategray;
    margin: auto;
    overflow: hidden;
}

.main-container {
    display: flex;
    justify-content: start;;
    align-items: start;;
    background-color : darkslategray;
    color: white;
}

img {
    max-width: 32rem;
    max-height: 90rem;
    background-size : cover;
}

#photo-credit {
    background-color:rgba(0, 0, 0, 0.3);
    border-radius: 8%;
    position:absolute;
    margin-top: 48rem;
    margin-left: 12rem;
}

.sidebar {
    color : white;
    background-color: green;
    max-width: 33%;
    margin-left: -0.5rem;
}

.content {
    margin-top: 5rem;
    width: 55%;
    margin-left : 8%;
    display:flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap:wrap;
}

.header {
    width: 70%;
    font-size : 1.25rem;
}

.form {
    width: 80%;
    margin-bottom: 0;
    gap: 1.5rem;
}

.form-block {
    margin-top: 1rem;
    width: 50%;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}
input {
    border: none;
    background-color: rgb(228, 224, 224);
    height: 1.5rem;
    width: 12rem;   
    margin-top: 1rem;
    margin-left: -0.6rem;
    border-radius: 8px;
}

input:valid {
    background-color : #e2fce2;
}




.footer {
    display: flex;
    align-items: center;
    font-size : 16px;
    gap: 10%;
    max-width: 33%;
    padding: 0.33rem;
}

.footer a{
    color: white;
}

#submit-button {
    height: 40%;
    font-size: 16px;
    border: none;
    border-radius: 12px;
}

#submit-button:hover {
    background-color: green;
}
